@import "tailwindcss";

:root {
  --color-base-100: #020618;
  --color-base-200: #0f172b;
  --color-base-300: #1d293d;
  --base-content: #cafaf0;
  --background: #020618;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--base-content);
  font-family: Arial, Helvetica, sans-serif;
}
